:root {
  --cor1: whitesmoke;
  --cor2: #87CEEB;
  --cor3: #00CED1;
  --cor4: #5F9EA0;
  --cor5: #4682B4;
  --cor6: #00008B;
  --cor7:	#E0FFFF;
  --cor8:#F0F8FF;
  
  

}
body {
  background-color: var(--cor1);

}
.HeaderFooter {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  border-radius: 10px; 
  background-color:var(--cor5);
  width: 90%;
  margin: auto;
  justify-content: center;

  text-align: center;
  display: flex;
}
#FooterId {
  margin-top: 10px;
  height: 30%;
  text-align: center;
}
#ImgLogo {
  border-radius: 100%;
  background-color:var(--cor8);
  justify-content: start;
  width: 80px;
  height: auto;
}
#ContainerMenu {
  justify-content: end;
  display: flex;
  list-style: none;
  gap: 20px;
}
.Menu {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: solid 1px var(--cor5);
  padding: 10px;
  background-color: var(--cor5);
  ;
}
.Menu:hover {
  background-color:var(--cor6);
  transition: 0,5s;
}

.Menu a {
  color: whitesmoke;
  text-decoration: none;
}

#ContainerCard {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  background-color: var(--cor8);
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 450px;
  text-align: center;
}
#Carrossel {
  border-radius: 10px;
  background-color: cadetblue;
  height: 200px;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
#Cards1 {
  
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 180px;
}
#Cards2 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 180px;
}
.Cards {
  border-radius: 10px;

  background-color: var(--cor2);
  width: 200px;

  margin-top: 20px;
}
#Banner1 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.ImgsCards {
  height: 100%;
  width: 100%;
}
